body{
    background-image: url(../images/illumination.png);
    background-color: #849D8F;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
}
